/*
    Thème sombre Vyper pour Mainsail
*/

/* Variables de couleur */
:root {
    --Primary:        #282a36;    /* Noir */
    --Secondary:      #ff5555;    /* Rouge */
    --c_blue:         #00eafb;    /* Bleu */
    --c_gray:         #2b2b2b;    /* Gris */
    --c_green:        #00ff00;    /* Vert fluo */
    --Blue:           #00eafb;    /* Bleu */
    --Red:            #ff5555;    /* Rouge */
    --Warnings:       #00eafb;    /* Avertissements */
    --Text:           #f8f8f2;    /* Couleur principale du texte */
    --DarkerText:     #f5f5f2;    /* Couleur de texte plus foncée */
    --Background:     #44475a;    /* Couleur de fond principale */
    --DarkBackground: #1c1f2b;    /* Couleur de fond plus foncée */
    --Toolbars:       #44475a;    /* Couleur des barres d'outils */
    --Sheets:         #282a36;    /* Couleur des feuilles (composants UI) */
    --violet:         #bf00ff;    /* Violet */
    --gris_metal:     #D4D4D4;
    --transition-duration: 0.3s;  /* Durée des transitions */
    --transition-style: ease-in-out;  /* Style de transition */
}








/* Styles généraux */

/* Boutons */
span.v-icon > svg > path, span.v-btn__content > path {
    fill: #CF00FF;
}
 
.v-btn.warning .v-icon path {
    fill: var(--violet);
}

.small-list-item .v-list-item__icon .v-icon path {
    fill: var(--gris_metal);
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.5));
}

/* Augmenter la visibilité des titres lors du survol */
.menu-item-title:hover {
    color: var(--Primary);
    background-color: var(--violet);
    box-shadow: 0 0 10px var(--c_green);
    transition: all var(--transition-duration) var(--transition-style);
}

/* Effet de survol pour les icônes de menu */
.menu-icon:hover {
    color: var(--c_green);
    transform: scale(1.3);
    transition: transform var(--transition-duration) var(--transition-style);
}

/* Styles supplémentaires pour les boutons lors du survol */
span.v-btn__content:hover > path {
    fill: var(--c_green);
    transition: fill var(--transition-duration) var(--transition-style);
}

/* Styles de survol pour les éléments de liste */
.v-list-item--link:hover {
    background-color: var(--c_gray);
    transition: background-color 0.2s ease-in-out;
}

/* Titres de menu */
.menu-item-title {
    color: var(--Text);
    background-color: var(--DarkBackground);
    padding: 0.5rem;
    border-radius: 12px 4px 12px 4px;
    box-shadow: inset 0 0 8px 0 var(--gris_metal);
}

.menu-item-title:active,
.v-list-item--active .menu-item-title {
    color: var(--c_green);
}

/* Icônes de menu */
.menu-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

/* Titres de barre d'outils */
.v-toolbar .v-toolbar__title {
    font-size: 24px;
    vertical-align: middle;
    background: linear-gradient(to right, var(--violet), var(--c_green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: calibri;
    font-weight: bold;
}

/* Titres de cartes */
.v-card__title {
    justify-content: center;
    display: flex;
    width: 100%;
}

/* Autres styles pour les titres de barre d'outils */
.v-toolbar__title {
    justify-content: center !important;
    display: flex !important;
    width: 100%;
}

/* Styles pour les avertissements */
.v-application .warning {
    background-color: var(--c_blue) !important;
    border-color: var(--c_blue);
}

/* Styles pour les éléments primaires */

.v-application .primary {
    background: linear-gradient(to right, var(--violet), var(--c_green));
    -webkit-background-clip: text;
    border-color: var(--c_green) !important;
}

/* Styles pour les textes de succès */
.v-application .success--text,
.v-application .primary--text {
    color: var(--c_blue) !important;
    caret-color: var(--c_blue) !important;
}

/* Styles généraux de l'application */
.v-application {
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) !important;
}

/* Styles pour les boutons d'avertissement */
.v-btn:not(.v-btn--outlined).warning {
    color: var(--c_gray) !important;
}

/* Styles pour les autres boutons colorés */
.v-btn:not(.v-btn--outlined).accent,
.v-btn:not(.v-btn--outlined).error,
.v-btn:not(.v-btn--outlined).info,
.v-btn:not(.v-btn--outlined).primary,
.v-btn:not(.v-btn--outlined).secondary,
.v-btn:not(.v-btn--outlined).success {
    color: var(--c_blue) !important;
}

/* Styles pour certains textes */
.v-application .text-body-2,
.v-application .text-button {
    color: var(--c_blue);
}

/* Styles pour les overlays de progression circulaire */
.v-progress-circular__overlay .v-card__text {
    stroke: var(--c_green) !important;
}

/* Styles pour le remplissage de la piste des sliders */
.v-slider__track-fill.primary {
    background-color: var(--c_green) !important;
    border-color: var(--c_blue) !important;
}

/* Styles pour le pouce des sliders */
.v-slider__thumb.primary {
    background-color: var(--c_blue) !important;
    border-color: var(--c_green) !important;
}

/* Changement des icônes */
.mdi-cog:before {
    content: "\F05B7";
}
.mdi-radiator-disabled:before,
.mdi-radiator:before {
    content: "\F0238";
}
.mdi-thermometer-lines:before {
    content: "\F0FA7";
}
.mdi-gamepad:before {
    content: "\F0B69";
}
.mdi-code-tags:before {
    content: "\F0313";
}
.mdi-dip-switch:before {
    content: "\F062E";
}
.mdi-home:before {
    content: "\F0DD4";
}
.mdi-arrow-collapse-vertical:before {
    content: "\F0622";
}
.mdi-send:before {
    content: "\F0501";
}
.mdi-console-line:before {
    content: "\F018D";
}
.mdi-wrench:before {
    content: "\F0493";
}
.mdi-monitor-dashboard:before {
    content: "\F0A1D";
}
.mdi-history:before {
    content: "\F0B56";
}
.mdi-view-dashboard-outline:before {
    content: "\F042B";
}

/* Arrondissement des coins */
.v-application {
    border-radius: 10px !important;
    box-shadow: 0 0 5px var(--c_green) !important;
}

.v-btn {
    border-radius: 8px !important;
}

.v-btn.warning {
    background: var(--c_green) !important;
}

/* Transition pour le cadre des cartes */
.v-card {
    border-radius: 15px !important;
    transition: box-shadow 2s ease; /* Transition de 2 secondes pour la propriété box-shadow */
    box-shadow: 0 0 5px var(--c_green) !important;
}

/* Au survol, changer la couleur du cadre */
.v-card:hover {
    box-shadow: 0 0 20px var(--violet) !important;
}

/* Styles pour les champs de texte */
.v-text-field {
    border-radius: 3px !important;
    box-shadow: 0 0 2px var(--c_green) !important;
}

/* Effet de clic pour les boutons */
.v-btn:active {
    transform: scale(0.95);
}
