#   ______                                  __             ______   __                                                         
#  |      \                                |  \           /      \ |  \                                                        
#   \$$$$$$ _______    ______   __    __  _| $$_         |  $$$$$$\| $$____    ______    ______    ______    ______    ______  
#    | $$  |       \  /      \ |  \  |  \|   $$ \        | $$___\$$| $$    \  |      \  /      \  /      \  /      \  /      \ 
#    | $$  | $$$$$$$\|  $$$$$$\| $$  | $$ \$$$$$$         \$$    \ | $$$$$$$\  \$$$$$$\|  $$$$$$\|  $$$$$$\|  $$$$$$\|  $$$$$$\
#    | $$  | $$  | $$| $$  | $$| $$  | $$  | $$ __        _\$$$$$$\| $$  | $$ /      $$| $$  | $$| $$  | $$| $$    $$| $$   \$$
#   _| $$_ | $$  | $$| $$__/ $$| $$__/ $$  | $$|  \      |  \__| $$| $$  | $$|  $$$$$$$| $$__/ $$| $$__/ $$| $$$$$$$$| $$      
#  |   $$ \| $$  | $$| $$    $$ \$$    $$   \$$  $$       \$$    $$| $$  | $$ \$$    $$| $$    $$| $$    $$ \$$     \| $$      
#   \$$$$$$ \$$   \$$| $$$$$$$   \$$$$$$     \$$$$         \$$$$$$  \$$   \$$  \$$$$$$$| $$$$$$$ | $$$$$$$   \$$$$$$$ \$$      
#                    | $$                                                              | $$      | $$                          
#                    | $$                                                              | $$      | $$                          
#                     \$$                                                               \$$       \$$                         

#                              ##############
#                              # Inpushaper #
#                              ##############

# Calcul de la frequence = (Vitesse d'impression X Nb. oscillation) / Distance entre les oscillations

[input_shaper]

shaper_freq_x: 72.0
shaper_type_x: mzv   

shaper_freq_y: 51.0
shaper_type_y: mzv